.card-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #8a980e;
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;  
    background-color: blue;
  }
  