.peeps {
    background-color: royalblue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .textfield-margin {
    margin-bottom: 20px;
  }
  
  .button-margin {
    margin-top: 20px;
  }
  